/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px 0;
    transition: background-color 0.3s;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

#navbar ul li {
    margin: 0 15px;
}

#navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    transition: color 0.3s, background-color 0.3s;
}

#navbar ul li a:hover {
    background-color:red;
    color: #fff;
}

#content {
    margin-top: 60px;
    /* To avoid content being hidden behind the fixed navbar */
    padding: 20px;
    height: 2000px;
    /* For demonstration purposes */
}